fastapi==0.95.2
uvicorn[standard]==0.22.0
python-dotenv==1.0.0

# lightweight inference stack
torch==2.3.1
torchvision==0.18.1
transformers==4.44.2
sentence-transformers==3.0.1
huggingface-hub==0.23.2
-f https://download.pytorch.org/whl/cpu/torch_stable.html

faiss-cpu
numpy
PyPDF2==3.0.1
groq
pydantic==1.10.9
requests==2.31.0
streamlit
langchain==0.1.16
bert-score
typing-extensions
--extra-index-url https://download.pytorch.org/whl/cpu